<div class="breadcrumb parallax-container">
    <div class="parallax"><img src="/assets/prlx.jpg" alt="#"></div>
    <h1>Meu perfil</h1>
    <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="#">Conta</a></li>
        <li><a href="login.html">Login</a></li>
        <li><a href="user-page.html">Meu perfil</a></li>
    </ul>
</div>


        
    <div class="container">
      <div  class="row">
        <div class="content col-sm-12">
          <div class="row">
            <div class="col-sm-5">
              <div class="thumbnails">
                <div><a class="thumbnail fancybox"  title=""><img src="" title="" alt="Foto do usuario" /></a></div>
                
              </div>
            </div>
            <div  class="col-sm-7 prodetail">
              <h1 class="productpage-title">{{user}}</h1>
              
              <ul class="list-unstyled productinfo-details-top">
                <li>
                  <h2 class="productpage-price">{{email}}</h2>
                </li>
                
              </ul>
              <hr>
              <ul class="list-unstyled product_info">
                
                <li>
                  <label>Tipo:</label>
                  <span> {{tipo}}</span></li>
                </ul>
              <hr>
            </div>
          </div>

          <button  class="btn btn-danger" title="" data-toggle="tooltip" type="button" data-original-title="Remove" (click)= "logout()"><i class="fa fa-times-circle"></i></button>

          <form  enctype="multipart/form-data" method="post" action="#">
            <div class="table-responsive">
              <table *ngIf="testeComum" class="table table-bordered">
                <thead>
                  <tr>
                    <td class="text-center">Imagem</td>
                    <td class="text-left">Nome do produto</td>
                    <td class="text-left">Modelo</td>
                    <td class="text-left">Quantidade</td>
                    <td class="text-right">Preço</td>
                    
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="text-center"><a href=""><img class="img-thumbnail" title="Produto" alt="Produto" src=""></a></td>
                    <td class="text-left"><a href="">Teste</a></td>
                    <td class="text-left">product 11</td>
                    <td class="text-left"><div style="max-width: 200px;" class="input-group btn-block">
                        <input type="text" class="form-control quantity" size="1" value="1" name="quantity">
                        <span class="input-group-btn">
                        <button class="btn btn-primary" title="" data-toggle="tooltip" type="submit" data-original-title="Update"><i class="fa fa-refresh"></i></button>
                        <button  class="btn btn-danger" title="" data-toggle="tooltip" type="button" data-original-title="Remove" (click)= "logout()"><i class="fa fa-times-circle"></i></button>
                        </span></div></td>
                    <td class="text-right">R$254.00</td>
                    
                  </tr>
                </tbody>
              </table>
              <div >
                <input type="button" value="Listar produtos" id="button-login" data-loading-text="Loading..." class="btn btn-primary" (click)="findAll()">
              </div>
              <div>{{products.nome}}</div>
            </div>
          </form>
        
    
      
    
   















    </div>
</div>