.hero-image {
    background-image: url(./../../assets/img/gadgetalpha.png);
    background-color: #fff;
    height: 100px;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    color: white;
}

.cms_searvice {
    margin-bottom: 0px;
    border-bottom: 1px solid #333;
    padding: 20px 0;
}

div.estilo {
    background-image: url(./../../assets/img/bordanamao.png);
    padding: 0;
    margin: 0;
    height: 5px;
    margin-top: 50px;
}

.estilo-logo {
    font-family: Enigmatic Unicode;
    font-size: 28px;
    color: black;
    margin-left: 28px;
    text-align: center;
    margin-top: 30px;
}

.estilo-logo2 {
    font-family: Enigmatic Unicode;
    font-size: 39px;
    color: black;
    text-align: center;
    margin-bottom: 15px;
}