<!-- Footer block Start  -->
<div class="footer-top-cms parallax-container">
    <div class="parallax"><img src="/assets/news.jpg" alt="#"></div>
    <div class="container">

        <div class="row">
            <div class="newslatter">
                <form>
                    <h5 class="estilo-logo2">Se increva para receber notícias!</h5>

                    <div class="input-group">
                        <input type="text" class=" form-control" placeholder="Digite o seu e-mail">
                        <button type="submit" value="Sign up" class="btn btn-large btn-primary">Inscreva-se</button>
                    </div>
                </form>
            </div>
            <div class="footer-social">
                <ul>
                    <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li class="gplus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li class="youtube"><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="hero-image"></div>
    <h3 class="estilo-logo">Parceiros</h3>

    <div id="brand_carouse" class="owl-carousel brand-logo">
        <div class="item text-center">
            <a href="#"><img src="/assets/brand/brand1.png" alt="Disney" class="img-responsive" /></a>
        </div>
        <div class="item text-center">
            <a href="#"><img src="/assets/brand/brand2.png" alt="Dell" class="img-responsive" /></a>
        </div>
        <div class="item text-center">
            <a href="#"><img src="/assets/brand/brand3.png" alt="Harley" class="img-responsive" /></a>
        </div>
        <div class="item text-center">
            <a href="#"><img src="/assets/brand/brand4.png" alt="Canon" class="img-responsive" /></a>
        </div>
        <div class="item text-center">
            <a href="#"><img src="/assets/brand/brand5.png" alt="Canon" class="img-responsive" /></a>
        </div>
        <div class="item text-center">
            <a href="#"><img src="/assets/brand/brand6.png" alt="Canon" class="img-responsive" /></a>
        </div>
        <div class="item text-center">
            <a href="#"><img src="/assets/brand/brand7.png" alt="Canon" class="img-responsive" /></a>
        </div>
        <div class="item text-center">
            <a href="#"><img src="/assets/brand/brand8.png" alt="Canon" class="img-responsive" /></a>
        </div>
        <div class="item text-center">
            <a href="#"><img src="/assets/brand/brand9.png" alt="Canon" class="img-responsive" /></a>
        </div>
        <div class="item text-center">
            <a href="#"><img src="/assets/brand/brand5.png" alt="Canon" class="img-responsive" /></a>
        </div>
    </div>

</div>
<div class="estilo">

</div>

<footer>
    <div class="cms_searvice ">

        <div class="container">
            <div class="row">
                <div class="col-md-3 ">
                    <div class="cms-block1 z-depth-5">
                        <h4>Entrega gratuita</h4>
                        <p>acima de R$100</p>
                    </div>
                </div>
                <div class="col-md-3 ">
                    <div class="cms-block2">
                        <h4>Devolução em até 30 dias </h4>

                    </div>
                </div>
                <div class="col-md-3 ">
                    <div class="cms-block3">
                        <h4>Suporte 24 horas</h4>

                    </div>
                </div>
                <div class="col-md-3 ">
                    <div class="cms-block4">
                        <h4>Economize conosco </h4>
                        <p>Descontos de até 70%</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="bottom-footer">
        <ul class="footer-link">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Work</a></li>
            <li><a href="#">Team</a></li>
            <li><a href="#">Pricing</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
        <div class="copyright"> Copyright - <a class="yourstore"> Created by Grupo 4 &copy; 2019 </a></div>
        <div class="footer-bottom-cms">

            <div class="footer-payment">
                <ul>
                    <li class="mastero">
                        <a href="#"><img alt="" src="/assets/payment/mastero.jpg"></a>
                    </li>
                    <li class="visa">
                        <a href="#"><img alt="" src="/assets/payment/visa.jpg"></a>
                    </li>
                    <li class="currus">
                        <a href="#"><img alt="" src="/assets/payment/currus.jpg"></a>
                    </li>
                    <li class="discover">
                        <a href="#"><img alt="" src="/assets/payment/discover.jpg"></a>
                    </li>
                </ul>
            </div>
        </div>

    </div>

    <a id="scrollup">Scroll</a>
</footer>