<div class="breadcrumb parallax-container">
    <div class="parallax"><img src="/assets/prlx.jpg" alt="#"></div>
    <h1>Contato</h1>
    <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="contact.html">Contato</a></li>
    </ul>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <h3 class="estilo-logo">Você tem as perguntas e nós temos as respostas</h3>
            <p class="text-center contact-desc"></p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="complaint">
                <h2 class="tf">Tel</h2>
                <div class="call-info">(11)2245-1451 / +55 974584123</div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="email">
                <h2 class="tf">Mail</h2>
                <div class="email-info">duvidas@gadgetc2c.com</div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="time">
                <h2 class="tf">Time</h2>
                <div class="time-info">Seg – Sex: 8:00 – 18:00</div>
            </div>
        </div>
    </div>
    <div class="main-form">
        <h3 class="estilo-logoo">Deixe a sua mensagem</h3>
        <div class="row">
            <form name="contactform" method="POST" action="contact-form-handler.php">
                <div class="col-sm-6">
                    <input type="text" required name="name" placeholder="Nome">
                </div>
                <div class="col-sm-6 ">
                    <input type="email" required name="email" placeholder="E-mail">
                </div>
                <div class="col-sm-6 ">
                    <input type="text" required name="phone" placeholder="Telefone">
                </div>
                <div class="col-sm-6 ">
                    <input type="text" required name="subject" placeholder="Assunto">
                </div>
                <div class="col-xs-12 ">
                    <textarea required name="message" placeholder="Mensagem" rows="3" cols="30"></textarea>
                </div>
                <div class="col-xs-12  text-center">
                    <div class="commun-btn">
                        <button type="submit" name="submit" class="btn">Enviar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <br><br><br>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10 text-center">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.1634351051007!2d-46.65694068540583!3d-23.5625729846822!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce59c8e337bb7f%3A0x53d643daf01894f5!2zRXN0YcOnw6NvIEhhY2s!5e0!3m2!1spt-BR!2sbr!4v1580904119398!5m2!1spt-BR!2sbr"
                width="820" height="500" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>
    </div>
</div>

<script>
    jQuery(document).ready(function($) {

        $('.parallax').parallax();

    });
</script>