<div class="breadcrumb parallax-container">
        <div class="parallax"><img src="/assets/prlx.jpg" alt="#"></div>
        <h1>Sobre nós</h1>
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="about-us.html">Sobre nós</a></li>
        </ul>
      </div>
      <div class="container">
        <div class="row">
          <div class="wwd">
            <div class="col-sm-5"><img class="img-responsive" src="/assets/aboutus.jpg" alt="#"></div>
            <div class="col-sm-7">
              <div class="column-inner ">
                <div class="wrapper">
                  <h4 class="aboutus-title">Brasil Generation </h4>
                  <div class="desc">
                    <p> Sobre a Generation
                      <br>
                      <p> Nossa missão é apoiar jovens a construírem carreiras sustentáveis e prósperas e fornecer aos empregadores uma rede de talentos altamente qualificados e motivados, visando aprimorar os resultados de seus negócios.
                        <p>Empregadores enfrentam uma série de problemas em trabalhos de nível inicial – dificuldade em encontrar talentos qualificados, performance insatisfatória no trabalho e alta rotatividade em funções importantes. Podemos ajudar a resolver esses desafios com nossa abordagem única de treinamento e nossos determinados jovens graduados. A Generation identifica, treina e capacita indivíduos que podem agregar valor ao seu negócio desde o primeiro dia de trabalho. A Generation também trabalha com os empregadores para personalizar programas com base em suas necessidades específicas.</p>
                      </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row team">
            <div class="col-md-offset-auto col-md-auto">
                <h3 class="team-title">Nosso time</h3>
                <p class="text-center team-desc">Conheça os nossos colaboradores</p>
                
              </div> 
          
          <div class="col-md-auto col-sm-auto col-xs-3 team1 ">
            <div class="img-block"> <img alt="#" src="/assets/jeff.jpg" class="img-responsive"> </div>
            <div class="text-box">
              <h3 class="name">Jefferson Santos</h3>
              <div class="deg">CEO </div>
              <p>Bio</p>
              <div class="social-holder">
                <ul class="social">
                  <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#" class="pinterest"><i class="fa fa-pinterest"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-2 col-sm-2 col-xs-4 team2 ">
            <div class="img-block"> <img alt="#" src="/assets/gui.png" class="img-responsive"> </div>
            <div class="text-box">
              <h3 class="name">Guilherme Santos</h3>
              <div class="deg">Fullstack </div>
              <p>Bio</p>
              <div class="social-holder">
                <ul class="social">
                  <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#" class="pinterest"><i class="fa fa-pinterest"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-2 col-sm-2 col-xs-4 team3 ">
            <div class="img-block"> <img alt="#" src="/assets/ingrid.jpg" class="img-responsive"> </div>
            <div class="text-box">
              <h3 class="name">Ingrid Silva</h3>
              <div class="deg">Front-end </div>
              <p>Bio</p>
              <div class="social-holder">
                <ul class="social">
                  <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#" class="pinterest"><i class="fa fa-pinterest"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-2 col-sm-2 col-xs-4 team3 ">
              <div class="img-block"> <img alt="#" src="/assets/gaby.jpg" class="img-responsive"> </div>
              <div class="text-box">
                <h3 class="name">Gabrielly Ribeiro</h3>
                <div class="deg">Back-end </div>
                <p>Bio</p>
                <div class="social-holder">
                  <ul class="social">
                    <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#" class="pinterest"><i class="fa fa-pinterest"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>  
            <div class="col-md-2 col-sm-2 col-xs-4 team3 ">
                <div class="img-block"> <img alt="#" src="/assets/felipe.jpg" class="img-responsive"> </div>
                <div class="text-box">
                  <h3 class="name">Felipe Sarotri</h3>
                  <div class="deg">Back-end</div>
                  <p>Bio</p>
                  <div class="social-holder">
                    <ul class="social">
                      <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
                      <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="#" class="pinterest"><i class="fa fa-pinterest"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>        
         
        </div>
       
        
        <div class="row about">
          <div class="col-md-offset-2 col-md-8">
            <h3 class="about-title">Sobre nós</h3>
            <p class="text-center about-desc">Conheça o nosso trabalho</p>
          </div>
          <div class="skill">
            <div class="col-md-4">
              <ul>
                <li>
                  <div id="progress1">
                        <h2> Trabalho em equipe </h2>
                  </div>
                </li>
                <li>
                  <div id="progress2">
                        <h2> Trabalho em equipe </h2>
                  </div>
                </li>
                <li>
                  <div id="progress3">
                    <h2> Trabalho em equipe </h2>
                  </div>
                </li>
                <li>
                  <div id="progress4">
                        <h2> Trabalho em equipe </h2>
                  </div>
                </li>
                <li>
                  <div id="progress5">
                        <h2> Trabalho em equipe </h2>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-4 mission">
            <ul class="nav nav-tabs" id="myTab">
              <li><a data-target="#Vision" data-toggle="tab">Nossa visão</a></li>
              <li><a data-target="#Mission" data-toggle="tab">Nossa missão</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="Vision">
                <h4>Texto visão?</h4>
                <p>Texto visão?</p>
                <p>Texto visão?</p>
              </div>
              <div class="tab-pane" id="Mission">
                  <h4>Texto ?</h4>
                  <p>Texto ?</p>
                  <p>Texto ?</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 who-we-are">
            <div id="accordion" role="tablist" aria-multiselectable="true">
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <h4 class="panel-title"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">NÓS VENDEMOS O QUE?</a> </h4>
                </div>
                <div id="collapseOne" class="acordi-disc panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne"> quem nos somos </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                  <h4 class="panel-title"> <a class="collapsed accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">QUAL O PÚBLICO ALVO?</a> </h4>
                </div>
                <div id="collapseTwo" class="acordi-disc panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">o que fazemos</div>
              </div>
              
              
            </div>
          </div>
        </div>
     
      </div>
    