<div class="breadcrumb parallax-container">
    <div class="parallax"><img src="/assets/prlx.jpg" alt="#"></div>
    <h1>Sobre nós</h1>
    <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="about-us.html">Sobre nós</a></li>
    </ul>
</div>
<div class="container">
    <div class="row">
        <div class="wwd">
            <div class="col-sm-4">
                <br><br><br><br>
                <h4>Tecnologia ao alcance de todos</h4>
                <img class="img-responsive" src="/assets/img/sobre.jpg" alt="#">
            </div>
            <div class="col-sm-8">
                <div class="column-inner ">
                    <div class="wrapper">
                        <h4 class="aboutus-title">Gadget C2C </h4>
                        <div class="desc">
                            <br>
                            <p>Existem diversos tipos de negócios quando se trata de um e-commerce. O próprio nicho dos produtos, ou público alvo podem ser fundamentais para exemplificar o modelo de negócio do comércio eletrônico. Assim, nossa ideia inicial,
                                foi seguir o modelo do mercado-livre, que destaca-se de certo modo, ao ser reconhecido como um dos sites de vendas mais utilizado por brasileiros que buscam a compra e venda de produtos com preço acessível. Assim, a partir
                                de pesquisas decidimos direcionar nosso ecommerce à venda de produtos eletrônicos usados, seguindo o modelo de negócios C2C (Consumer to Consumer); ou seja, são consumidores vendendo eletrônicos usados para outros consumidores.</p>

                            <p>Facilitando assim, acesso a informação a pessoas de baixa renda, e, mesmo assim, garantindo a qualidade devido a nossas parcerias. Nossos parceiros, podem ser quaisquer empresas que queiram contribuir de alguma forma com o
                                acesso à informação/tecnologia para pessoas desfavorecidas, tendo em vista a propagação do acesso à informação como algo fundamental para o crescimento do país como um todo. Assim, podemos citar como exemplo, algumas das
                                nossas parcerias mais relevantes, que são empresas que prestam manutenção e revisão dos produtos anunciados à venda, garantindo desta forma, o selo de qualidade ao consumidor final.</p>
                            <p> O nicho escolhido (gadget's) refere-se a gíria tecnológica para dispositivos eletrônicos portáteis, refletindo o grande número de pessoas com dispositivos eletrônicos portáteis, sua necessidade nos dias atuais, além do seu
                                crescimento exponencial.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row team">
        <div class="col-md-offset-auto col-md-auto">
            <h3 class="team-title">Nosso time</h3>
            <p class="text-center team-desc">Conheça os nossos colaboradores</p>

        </div>
        <div class="col-md-1 col-sm-1 col-xs-1 espaco "></div>
        <div class="col-md-3 col-sm-3 col-xs-3 team1 ">
            <div class="img-block"> <img alt="#" src="/assets/jefferson.jpg" class="img-responsive"> </div>
            <div class="text-box">
                <h3 class="name">Jefferson Santos</h3>
                <div class="deg">Fullstack </div>
                <p>github.com/Jeffdesantos</p>
                <div class="social-holder">
                    <ul class="social">
                        <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="pinterest"><i class="fa fa-pinterest"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3 team2 ">
            <div class="img-block"> <img alt="#" src="/assets/guilherme.png" class="img-responsive"> </div>
            <div class="text-box">
                <h3 class="name">Guilherme Santos</h3>
                <div class="deg">Front End </div>
                <p>github.com/guisantos</p>
                <div class="social-holder">
                    <ul class="social">
                        <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="pinterest"><i class="fa fa-pinterest"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3 team3 ">
            <div class="img-block"> <img alt="#" src="/assets/ingrid.jpg" class="img-responsive"> </div>
            <div class="text-box">
                <h3 class="name">Ingrid Silva</h3>
                <div class="deg">Data base </div>
                <p>github.com/ingrid-byte</p>
                <div class="social-holder">
                    <ul class="social">
                        <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="pinterest"><i class="fa fa-pinterest"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row team">
        <div class="col-md-3 col-sm-3 col-xs-3 team4 "></div>
        <div class="col-md-3 col-sm-3 col-xs-3 team3 ">
            <div class="img-block"> <img alt="#" src="/assets/gabrielly.jpg" class="img-responsive"> </div>
            <div class="text-box">
                <h3 class="name">Gabrielly Ribeiro</h3>
                <div class="deg">Fullstack </div>
                <p>github.com/gabriellyribeiro</p>
                <div class="social-holder">
                    <ul class="social">
                        <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="pinterest"><i class="fa fa-pinterest"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3 team3 ">
            <div class="img-block"> <img alt="#" src="/assets/felipe.jpg" class="img-responsive"> </div>
            <div class="text-box">
                <h3 class="name">Felipe Sarotri</h3>
                <div class="deg">Back-end</div>
                <p>github.com/f-sartori</p>
                <div class="social-holder">
                    <ul class="social">
                        <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="pinterest"><i class="fa fa-pinterest"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>


    <div class="row about">
        <div class="col-md-offset-2 col-md-8">
            <h3 class="about-title">Sobre nós</h3>
            <p class="text-center about-desc">Conheça o nosso trabalho</p>
        </div>
        <div class="skill">
            <div class="col-md-4">
                <ul>
                    <li>
                        <div id="progress1">
                            <h2> Trabalho em equipe </h2>
                        </div>
                    </li>
                    <li>
                        <div id="progress2">
                            <h2> Modelo de negócio C2C</h2>
                        </div>
                    </li>
                    <li>
                        <div id="progress3">
                            <h2> Comprometimento </h2>
                        </div>
                    </li>
                    <li>
                        <div id="progress4">
                            <h2> Sustentabilidade </h2>
                        </div>
                    </li>
                    <li>
                        <div id="progress5">
                            <h2> Tecnologia </h2>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-4 mission">
            <ul class="nav nav-tabs" id="myTab">
                <li><a data-target="#Vision" data-toggle="tab">Nossa visão</a></li>
                <li><a data-target="#Mission" data-toggle="tab">Nossa missão</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="Vision">
                    <h4>Tecnologia ao alcance de todos</h4>
                    <p>A informação muda o mundo.</p>
                    <p>Reutilizar só agrega.</p>
                </div>
                <div class="tab-pane" id="Mission">
                    <h4>Gerar menos lixo eletrônico.</h4>
                    <p>Mais acesso a informação.</p>
                    <p>Tornar a tecnologia acessível a todos.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 who-we-are">
            <div id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">NÓS VENDEMOS O QUE?</a> </h4>
                    </div>
                    <div id="collapseOne" class="acordi-disc panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne"> Produtos eletrônicos (gadgets) usados. </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title"> <a class="collapsed accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">QUAL O
                PÚBLICO ALVO?</a> </h4>
                    </div>
                    <div id="collapseTwo" class="acordi-disc panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">Qualquer pessoa, a procura do melhor custo-benefício em eletrônicos.</div>
                </div>


            </div>
        </div>
    </div>

</div>