<div class="breadcrumb parallax-container">
  <div class="parallax"><img src="/assets/prlx.jpg" alt="#"></div>
  <h1 class="category-title">Produtos</h1>
  <ul>
    <li><a href="index.html">Home</a></li>
    <li><a href="category.html">Produtos</a></li>
  </ul>
</div>
<div class="container">
  <div class="row">
    <div id="column-left" class="col-sm-3 hidden-xs column-left">
      <div class="Categories left-sidebar-widget">
        <div class="columnblock-title">Top Categories</div>
        <div class="category_block">
          <ul class="box-category treeview">
            <li><a href="#" class="">Produtos</a></li>
            <li><a href="#">Tablets</a></li>
            <li><a href="#">Software</a></li>
            <li><a href="#">Phones & PDAs</a></li>
            <li><a href="#">Cameras</a></li>
            <li><a href="#">MP3 Players</a></li>
            <li><a [routerLink]="['/produto-novo']">Adicionar produtos.</a></li>
            <li><a [routerLink]="['/categoria-novo']">Novas categorias</a></li>
            <li><a [routerLink]="['/produto-single']">Produto single test.</a></li>
          </ul>
        </div>
      </div>
      <div class="filter left-sidebar-widget">
        <div class="columnblock-title">Filtros</div>
        <div class="filter-block">
          <div class="list-group">
            <p class="list-group-item">Cor</p>
            <div class="list-group-item">
              <div id="filter-group1">
                <label class="checkbox">
                  <input name="filter[]" type="checkbox" value="1" />
                  Preto (7)</label>
                <label class="checkbox">
                  <input name="filter[]" type="checkbox" value="2" />
                  Azul (6)</label>
                <label class="checkbox">
                  <input name="filter[]" type="checkbox" value="3" />
                  Vermelho (6)</label>
              </div>
            </div>
            <p class="list-group-item">Preço</p>
            <div class="list-group-item">
              <div id="filter-group2">
                <label class="checkbox">
                  <input name="filter[]" type="checkbox" value="4" />
                  RR$100-RR$300 (6)</label>
                <label class="checkbox">
                  <input name="filter[]" type="checkbox" value="5" />
                  R$301-R$1000 (6)</label>
              </div>
            </div>
            <p class="list-group-item">Tamanho</p>
            <div class="list-group-item">
              <div id="filter-group3">
                <label class="checkbox">
                  <input name="filter[]" type="checkbox" value="6" />
                  Grande (3)</label>
                <label class="checkbox">
                  <input name="filter[]" type="checkbox" value="7" />
                  Médio (3)</label>
                <label class="checkbox">
                  <input name="filter[]" type="checkbox" value="8" />
                  Pequeno (1)</label>
              </div>
            </div>
          </div>
          <div class="panel-footer">
            <button type="button" id="button-filter" class="btn btn-primary">Aplicar filtro</button>
          </div>
        </div>
      </div>
      <div class="banner left-sidebar-widget"> <a href="#"><img src="/assets/banners/LeftBanner.jpg" alt="Left Banner" class="img-responsive" /></a> </div>
      <div class="special left-sidebar-widget">
        <div class="columnblock-title">Produtos em destaque</div>
        <ul class="row ">
          <li class="product-layout">
            <div class="product-list col-xs-4">
              <div class="product-thumb">
                <div class="image product-imageblock">
                <a href="product.html">
                <img class="img-responsive" title="iPod Classic" alt="iPod Classic" src="/assets/product/Pro-06.jpg">
                <img class="img-responsive" title="iPod Classic" alt="iPod Classic" src="/assets/product/Pro-06-1.jpg">
                </a>
                </div>
              </div>
            </div>
            <div class="col-xs-8">
              <div class="caption product-detail">
                <h4 class="product-name"><a title="Casual " href="#">Casual </a></h4>
                <p class="price product-price"> <span class="price-new">R$254.00</span> <span class="price-old">R$272.00</span> </p>
                <div class="addto-cart"><a href="#">Adicionar ao carrinho</a></div>
              </div>
            </div>
          </li>
          
         
        </ul>
      </div>
    </div>
    <div class=" content col-sm-9">
      <div class="category-page-wrapper">
        <div class="col-md-2 text-right sort-wrapper">
          <label class="control-label" for="input-sort">Filtrar por :</label>
          <div class="sort-inner">
            <select id="input-sort" class="form-control">
              <option value="ASC" selected="selected">Padrão</option>
              <option value="ASC">Nome (A - Z)</option>
              <option value="DESC">Nome (Z - A)</option>
              <option value="ASC">Preço (Menor &gt; Maior)</option>
              <option value="DESC">Preço (Maior &gt; Menor)</option>
              <option value="DESC">Avaliação (Maior)</option>
              <option value="ASC">Avaliação (Menor)</option>
              <option value="ASC">Categoria (A - Z)</option>
              <option value="DESC">Categoria (Z - A)</option>
            </select>
          </div>
        </div>
        <div class="col-md-1 text-right page-wrapper">
          <label class="control-label" for="input-limit">Exibir :</label>
          <div class="limit">
            <select id="input-limit" class="form-control">
              <option value="8" selected="selected">08</option>
              <option value="25">25</option>
              <option value="50">50</option>
              <option value="75">75</option>
              <option value="100">100</option>
            </select>
          </div>
        </div>
        <div class="col-md-6 list-grid-wrapper"> <a href="#" id="compare-total">Produtos comparados (0)</a>
          <div class="btn-group btn-list-grid">
            <button type="button" id="list-view" class="btn btn-default list" data-toggle="tooltip" title="Lista"></button>
            <button type="button" id="grid-view" class="btn btn-default grid" data-toggle="tooltip" title="Grade"></button>
          </div>
        </div>
      </div>
      <br/>


      <div class="grid-list-wrapper" *ngFor="let product of products" >
      
        
        <div class="product-layout product-list col-xs-12"  >
          <div class="product-thumb">
            <div class="image product-imageblock">
            <a [routerLink]="['/produto-single', product.idProduto]">
            <img src= "{{product.imgUrl}}" alt="produto" title="produto" class="img-responsive"  style="width: 250px; height:270px ;"/>
            <img src="{{product.imgUrl}}" alt="produto" title="produto" class="img-responsive" style="width: 250px; height:270px ;" />
            </a>
              <ul class="button-group grid-btn">
                <li>
                  <a [routerLink]="['/produto-single', product.idProduto]"></a><button type="button" class="wishlist" data-toggle="tooltip" data-placement="top" title="Adicionar a lista de desejos" ><i class="fa fa-heart-o"></i></button>
                </li>
                <li>
                  <button type="button" class="compare" data-toggle="tooltip" data-placement="top" title="Comparar este produto" ><i class="fa fa-exchange"></i></button>
                </li>
                <li>
                  <a [routerLink]="['/produto-novo', product.idProduto]"><button type="button" class="quick-view" data-toggle="tooltip" data-placement="top" title="Alterar produto" ><i class="fa fa-pencil"></i></button></a>
                </li>
               
                <li>
                  <button type="button" class="addtocart-btn" title="Adicionar ao carrinho">Adicionar ao carrinho</button>
                </li>
              </ul>
            </div>
            <div class="caption product-detail">
              <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i><i class="fa fa-star fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i><i class="fa fa-star fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i><i class="fa fa-star fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i><i class="fa fa-star fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> </div>
              <h4 class="product-name"><a href="#" title="Casual Shirt With Ruffle Hem">{{product.nome}}</a></h4>
              <p class="price product-price">R$ {{product.preco}}<span class="price-tax">Ex Tax: R$100.00</span></p>
              <p class="product-desc">{{product.qtd}}</p>
              <ul class="button-group list-btn">
                 
                    
                <li>
                  <a [routerLink]="['/produto-single', product.idProduto]"></a><button type="button" class="wishlist" data-toggle="tooltip" data-placement="top" title="Adicionar a lista de desejos" ><i class="fa fa-heart-o"></i></button>
                </li>
                <li>
                  <button type="button" class="compare" data-toggle="tooltip" data-placement="top" title="Comparar este produto" ><i class="fa fa-exchange"></i></button>
                </li>
                
                <li>
                  <a [routerLink]="['/produto-novo', product.idProduto]"><button type="button" class="quick-view" data-toggle="tooltip" data-placement="top" title="Alterar produto" ><i class="fa fa-pencil"></i></button></a>
                </li>
                
              </ul>
              <ul class="button-group list-btn">
                  <li>
                      <button type="button" class="addtocart-btn" title="Adicionar ao carrinho">Adicionar ao carrinho</button>
                  </li>
              </ul>
            </div>
          </div>
        </div>
        
     
    
        
       
        
        
      </div>
      <div class="category-page-wrapper">
        <div class="result-inner">Exibindo 1 a 8 de 10 (2 Páginas)</div>
        <div class="pagination-inner">
          <ul class="pagination">
            <li class="active"><span>1</span></li>
            <li><a href="category.html">2</a></li>
            <li><a href="category.html">&gt;</a></li>
            <li><a href="category.html">&gt;|</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>