
<div class="breadcrumb parallax-container">
        <div class="parallax"><img src="/assets/prlx.jpg" alt="#"></div>
        <h1>Login</h1>
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="#">Conta</a></li>
          <li><a href="login.html">Login</a></li>
        </ul>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-sm-3 hidden-xs column-left" id="column-left">
            <div class="Categories left-sidebar-widget">
              <div class="columnblock-title">Conta</div>
              <div class="category_block">
                <ul class="box-category">
                  <li><a href="login.html">Logar</a></li>
                  <li><a href="register.html">Registrar</a></li>
                  <li><a href="#">Esqueci minha senha</a></li>
                  <li><a href="#">Minha conta</a></li>
                  <li><a href="#">Lista de desejos</a></li>
                  <li><a href="#">Mais...</a></li>
                  <li><a [routerLink]="['/usuario-listar']">Listar usuarios...</a></li>
                  
                
                </ul>
              </div>
            </div>
          </div>
          <div class="col-sm-9" id="content">
            <div class="row">
              <div class="col-sm-6">
                <h2>Novo usuario</h2>
                <p>Opções de conta:</p>
                <div class="radio">
                  <label>
                    <input type="radio" name="account" value="register" checked="checked">
                    Comum</label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="account" value="guest">
                    Vendedor</label>
                </div>
                <p>Ao criar a sua conta você poderá usufruir totalmente de nossa loja</p>
                <input type="button" value="Continue" id="button-account" data-loading-text="Loading..." class="btn btn-primary">
              </div>
              <div class="col-sm-6">
                <h2>Logar</h2>
                <p>Preencha os campos para se logar</p>
                <div class="form-group">

                  <label class="control-label" for="input-email">E-mail</label>
                  <input type="text" name="email" value="" placeholder="E-mail" id="input-email" class="form-control alert alert-primary" [(ngModel)]="usuario.email">
                  <div class="alert alert-primary hidden " id="erro3" role="alert">
                      <p style="color: red;">* Preencha seu e-mail</p>
                     </div>
                </div>
                <div class="form-group">
                  <label class="control-label" for="input-password">Senha</label>
                  <input type="password" name="password" value="" placeholder="Senha" id="input-password" class="form-control" [(ngModel)]="usuario.senha">
                  <div class="alert alert-primary hidden " id="erro1" role="alert">
                      <p style="color: red;">* Preencha sua senha</p>
                     </div>
                  <div class="alert alert-primary hidden " id="erro2" role="alert">
                     <p style="color: red;">* Preencha os campos para logar</p>
                    </div>
                  <a href="#" class="forgot">Esqueci minha senha</a></div>
                <input type="button" value="Login" id="button-login" data-loading-text="Loading..." class="btn btn-primary" (click)= "verifica() ">
              </div>
            </div>
          </div>
        </div>
      </div>
