<!DOCTYPE html>
<html lang="en">





<div class="category col-2 left-col">
  <div class="container">
    <div class="row">
      <div class="content col-sm-12">
        <div class="row">
          <div class="col-sm-5">
            <div class="thumbnails">

            </div>
          </div>



          <div class="col-sm-7 prodetail">
            <br><br><br>
            <div class="form-group">
              <label for="input-address-2" class="col-sm-2 control-label">Titulo:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="nomeProduto" placeholder="Nome do produto" value=""
                  [(ngModel)]="product.nome">
                <div class="alert alert-primary hidden" id="erroTitulo" role="alert">
                  <p style="color: red;">* Preencha o titulo</p>
                </div>
              </div>
              <br><br><br>
            </div>
            <div class="form-group">
              <label for="input-address-2" class="col-sm-2 control-label">Preço:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="precoProduto" placeholder="Preço" value=""
                  [(ngModel)]="product.preco">
                <div class="alert alert-primary hidden" id="erroPreco" role="alert">
                  <p style="color: red;">* Preencha o preço</p>
                </div>
              </div>
              <br><br><br>
            </div>
            <div class="form-group">
              <label for="input-address-2" class="col-sm-2 control-label">Quantidade:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="descricaoProduto" placeholder="Descrição" value=""
                  [(ngModel)]="product.qtd">
                <div class="alert alert-primary hidden" id="erroDescricao" role="alert">
                  <p style="color: red;">* Preencha a Quantidade</p>
                </div>

              </div>
              <br><br><br>
            </div>

            <div class="form-group">
              <label for="input-address-2" class="col-sm-2 control-label">URL da imagem:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="urlProduto" placeholder="url da imagem" value=""
                  [(ngModel)]="product.imgUrl">
                <div class="alert alert-primary hidden" id="erroUrl" role="alert">
                  <p style="color: red;">* Preencha a url</p>
                </div>

              </div>
              <br><br><br>
            </div>

            <br><br><br>
            <input type="submit" class="btn btn-primary" value="Salvar" (click)="salvarProd()">

            <hr>


            <!-- <ul class="list-unstyled product_info">
            <li>
              <label>Brand:</label>
              <span> <a href="#">Apple</a></span></li>
            <li>
              <label>Product Code:</label>
              <span> product 20</span></li>
            <li>
              <label>Availability:</label>
              <span> In Stock</span></li>
          </ul> -->

            <div>

              <!-- </div>
        </div>
      </div>
      <div class="productinfo-tab">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#tab-deion" data-toggle="tab">Deion</a></li>
          <li><a href="#tab-review" data-toggle="tab">Reviews (1)</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="tab-deion">
            <div class="cpt_product_deion ">
              <div>
                <p> <strong>More room to move.</strong></p>
                <p> With 80GB or 160GB of storage and up to 40 hours of battery life, the new iPod classic lets you enjoy up to 40,000 songs or up to 200 hours of video or any combination wherever you go.</p>
                <p> <strong>Cover Flow.</strong></p>
                <p> Browse through your music collection by flipping through album art. Select an album to turn it over and see the track list.</p>
                <p> <strong>Enhanced interface.</strong></p>
                <p> Experience a whole new way to browse and view your music and video.</p>
                <p> <strong>Sleeker design.</strong></p>
                <p> Beautiful, durable, and sleeker than ever, iPod classic now features an anodized aluminum and polished stainless steel enclosure with rounded edges.</p>
              </div>
            </div>
            <!-- cpt_container_end </div>
          <div class="tab-pane" id="tab-review">
            <form class="form-horizontal">
              <div id="review"></div>
              <h2>Write a review</h2>
              <div class="form-group required">
                <div class="col-sm-12">
                  <label class="control-label" for="input-name">Your Name</label>
                  <input type="text" name="name" value="" id="input-name" class="form-control" />
                </div>
              </div>
              <div class="form-group required">
                <div class="col-sm-12">
                  <label class="control-label" for="input-review">Your Review</label>
                  <textarea name="text" rows="5" id="input-review" class="form-control"></textarea>
                  <div class="help-block"><span class="text-danger">Note:</span> HTML is not translated!</div>
                </div>
              </div>
              <div class="form-group required">
                <div class="col-sm-12">
                  <label class="control-label">Rating</label>
                      Bad 
                  <input type="radio" name="rating" value="1" />
                   
                  <input type="radio" name="rating" value="2" />
                   
                  <input type="radio" name="rating" value="3" />
                   
                  <input type="radio" name="rating" value="4" />
                   
                  <input type="radio" name="rating" value="5" />
                   Good</div>
              </div>
              <div class="buttons clearfix">
                <div class="pull-right">
                  <button type="button" id="button-review" data-loading-text="Loading..." class="btn btn-primary">Continue</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div> -->