

<!DOCTYPE html>
<html lang="en">





<div class="category col-2 left-col">
<div class="container">
  <div class="row">
    <div class="content col-sm-12">
      <div class="row">
        <div class="col-sm-5">
          <div class="thumbnails">
            <div><a class="thumbnail fancybox" href="image/product/product8.jpg" title="Casual Shirt With Ruffle Hem"><img src="image/product/product1.jpg" title="Nome do prodtuo" alt="iPod Classic" /></a></div>
            <div id="product-thumbnail" class="owl-carousel">
              <div class="item">
                <div class="image-additional"><a class="thumbnail fancybox" href="image/product/product1.jpg" title="iPod Classic"> <img src="image/product/Pro-09.jpg" title="iPod Classic" alt="iPod Classic" /></a></div>
              </div>
              <div class="item">
                <div class="image-acddditional"><a class="thumbnail fancybox" href="image/product/product2.jpg" title="iPod Classic"> <img src="image/product/Pro-02.jpg" title="iPod Classic" alt="iPod Classic" /></a></div>
              </div>
              <div class="item">
                <div class="image-additional"><a class="thumbnail fancybox" href="image/product/product3.jpg" title="iPod Classic"> <img src="image/product/Pro-05.jpg" title="iPod Classic" alt="iPod Classic" /></a></div>
              </div>
              <div class="item">
                <div class="image-additional"><a class="thumbnail fancybox" href="image/product/product4.jpg" title="iPod Classic"> <img src="image/product/Pro-08.jpg" title="iPod Classic" alt="iPod Classic" /></a></div>
              </div>
              <div class="item">
                <div class="image-additional"><a class="thumbnail fancybox" href="image/product/product5.jpg" title="iPod Classic"> <img src="image/product/Pro-06.jpg" title="iPod Classic" alt="iPod Classic" /></a></div>
              </div>
              <div class="item">
                <div class="image-additional"><a class="thumbnail fancybox" href="image/product/product6.jpg" title="iPod Classic"> <img src="image/product/Pro-04.jpg" title="iPod Classic" alt="iPod Classic" /></a></div>
              </div>
              <div class="item">
                <div class="image-additional"><a class="thumbnail fancybox" href="image/product/product7.jpg" title="iPod Classic"> <img src="image/product/Pro-09.jpg" title="iPod Classic" alt="iPod Classic" /></a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-7 prodetail">
          <h2 class="productpage-title">Nome do produto: <input type="text" placeholder=""><input></h2>
          <ul class="list-unstyled productinfo-details-top">
            <li>
              <h2 class="productpage-price">Preco: <input type="text" placeholder="Digite o preço"><input></h2>
              <h2 class="productpage-price">Descrição: <input type="text" placeholder="Descrição do produto"><input></h2>
              <h2 class="productpage-price">URL da Imagem: <input type="text" placeholder="imagem"><input></h2>
            <br>
            <ul class="button-group grid-btn">
                
                <li>
                  <button type="button" class="addtocart-btn" title="Adicionar ao carrinho">Adicionar ao carrinho</button>
                </li>
              </ul>
            </li>
            
          </ul>
          <hr>

          <a href="">Listar Produtos</a>
          <!-- <ul class="list-unstyled product_info">
            <li>
              <label>Brand:</label>
              <span> <a href="#">Apple</a></span></li>
            <li>
              <label>Product Code:</label>
              <span> product 20</span></li>
            <li>
              <label>Availability:</label>
              <span> In Stock</span></li>
          </ul> -->
          <hr>
          <div>
             
          <!-- </div>
        </div>
      </div>
      <div class="productinfo-tab">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#tab-deion" data-toggle="tab">Deion</a></li>
          <li><a href="#tab-review" data-toggle="tab">Reviews (1)</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="tab-deion">
            <div class="cpt_product_deion ">
              <div>
                <p> <strong>More room to move.</strong></p>
                <p> With 80GB or 160GB of storage and up to 40 hours of battery life, the new iPod classic lets you enjoy up to 40,000 songs or up to 200 hours of video or any combination wherever you go.</p>
                <p> <strong>Cover Flow.</strong></p>
                <p> Browse through your music collection by flipping through album art. Select an album to turn it over and see the track list.</p>
                <p> <strong>Enhanced interface.</strong></p>
                <p> Experience a whole new way to browse and view your music and video.</p>
                <p> <strong>Sleeker design.</strong></p>
                <p> Beautiful, durable, and sleeker than ever, iPod classic now features an anodized aluminum and polished stainless steel enclosure with rounded edges.</p>
              </div>
            </div>
            <!-- cpt_container_end </div>
          <div class="tab-pane" id="tab-review">
            <form class="form-horizontal">
              <div id="review"></div>
              <h2>Write a review</h2>
              <div class="form-group required">
                <div class="col-sm-12">
                  <label class="control-label" for="input-name">Your Name</label>
                  <input type="text" name="name" value="" id="input-name" class="form-control" />
                </div>
              </div>
              <div class="form-group required">
                <div class="col-sm-12">
                  <label class="control-label" for="input-review">Your Review</label>
                  <textarea name="text" rows="5" id="input-review" class="form-control"></textarea>
                  <div class="help-block"><span class="text-danger">Note:</span> HTML is not translated!</div>
                </div>
              </div>
              <div class="form-group required">
                <div class="col-sm-12">
                  <label class="control-label">Rating</label>
                      Bad 
                  <input type="radio" name="rating" value="1" />
                   
                  <input type="radio" name="rating" value="2" />
                   
                  <input type="radio" name="rating" value="3" />
                   
                  <input type="radio" name="rating" value="4" />
                   
                  <input type="radio" name="rating" value="5" />
                   Good</div>
              </div>
              <div class="buttons clearfix">
                <div class="pull-right">
                  <button type="button" id="button-review" data-loading-text="Loading..." class="btn btn-primary">Continue</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div> -->

  





