<div class="breadcrumb parallax-container">
    <div class="parallax"><img src="/assets/prlx.jpg" alt="#"></div>
    <h1>Perguntas frequentes</h1>
    <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="perguntas.html">Perguntas frequentes</a></li>
    </ul>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <h3 class="contactus-title">Você tem as perguntas e nós temos as respostas
            </h3>
            <p class="text-center contact-desc"></p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12" style="margin-top: 15px;">
            <!-- 
<button class="btn btn-link" type="button"
                                        data-toggle="collapse"
                                        data-parent="#accordion"
                                        href="#collapseOne">

-->
            <div class="fluig-style-guide">
                <form name="form" role="form">
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="collapse-icon up" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                        1 - Porque tenho que logar minha conta
                                        primeiro?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse
                                in">
                                <div class="panel-body">
                                    <p>O Login é um meio de acesso digital do usuário aos serviços do nosso site. Este Login garante a identificação de cada contribuidor que acessa os produtos digitais do site. </p>
                                    Oferece um ambiente de autenticação digital único do usuário as negociações, ou seja, com um único usuário e senha você poderá utilizar todos os serviços digitais que estejam integrados com a plataforma de Login. Fornece um nível de segurança compatível
                                    com o grau de exigência, natureza e criticidade dos dados e das informações pertinentes ao serviço solicitado.

                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="collapse-icon" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                        2 - Como faço o login?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse
                                collapse">
                                <div class="panel-body">
                                    1. Clique no menu MINHA CONTA<br> 2. Clique em LOGIN<br> 3. Digite o e-mail e a senha do seu usuário.<br> 4. Confirme os dados clicando em LOGIN.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="collapse-icon" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                        3 - Como deslogar minha conta?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse
                                collapse">
                                <div class="panel-body">
                                    <p>Com o usuário já logado:</p>
                                    1. Selecione a tela minha conta<br> 2. Clique na opção SAIR<br> 3. Clique em confirmar.
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="collapse-icon" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                                    4 - Não consigo logar na minha conta
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse
                            collapse">
                            <div class="panel-body">
                                <p>- Verifique se o o email esta correto</p>
                                <p>- Verifique se a senha está correta</p>
                                <p>- Verifique letras maiúsculas e minúsculas
                                </p>

                                <strong>Esqueci a senha >></strong><br> 1. Clique no campo ESQUECI MINHA SENHA<br> 2. Preencha com seu email cadastrado e será redirecionado para cadastrar uma nova senha.<br>
                                <strong> Esqueci meu e-mail >> </strong><br> 1. Clique no campo ESQUECI MEU EMAIL <br> 2. Responda as perguntas de segurança. <br> 3. Informe o e-mail de suporte cadastrado para recuperação.



                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="collapse-icon" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                                    5 - Como cadastrar meu negócio?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFive" class="panel-collapse
                            collapse">
                            <div class="panel-body">
                                <p>Com o usuário já logado:</p>
                                1. Clique em MINHA CONTA.<br> 2. Clique em FORMULÁRIO DE CADASTRO.<br> 3. Preencha o FORMULÁRIO com os dados do seu negócio.


                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="collapse-icon" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
                                    6 - Como cadastrar meu produto?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseSix" class="panel-collapse
                            collapse">
                            <div class="panel-body">
                                <p> Com o usuário já logado: </p>
                                1. Clique em MINHA CONTA. <br> 2. Clique em PRODUTO. <br> 3. Clique em CADASTRAR NOVO PRODUTO <br> 4. Preencha o FORMULÁRIO com os dados do seu produto para venda.


                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="collapse-icon" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
                                    7 - O produto possui garantia?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseSeven" class="panel-collapse
                            collapse">
                            <div class="panel-body">
                                <p>Todos os nossos produtos tem, por lei, um prazo de garantia mínimo de 90 (noventa) dias, caso o vendedor tenha um prazo diferente, isso será acordado durante a compra.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="collapse-icon" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">
                                    8 - Quais as formas de pagamento?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseEight" class="panel-collapse
                            collapse">
                            <div class="panel-body">
                                <p> Poderá também ser acordado com o vendedor as formas de pagamento. Entre elas cartão de débito, crédito (com ou sem juros), MercadoPago, Picplay, Transferência bancária e Boleto bancário. OBS: Apps parceiros com disponibilidade
                                    de CashBack. </p>


                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="collapse-icon" data-toggle="collapse" data-parent="#accordion" href="#collapseNine">
                                    9 - Entrega do produto
                                </a>
                            </h4>
                        </div>
                        <div id="collapseNine" class="panel-collapse
                            collapse">
                            <div class="panel-body">
                                <p>Você tem a opção de retirar o produto pessoalmente com o vendedor ou na loja física cadastrada do mesmo. O serviço de entrega é feito pelos correios ou pela opção de entrega de empresas terceirizadas parceiras.
                                </p>

                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="collapse-icon" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">
                                    10 - Meu produto chegou errado
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTen" class="panel-collapse
                            collapse">
                            <div class="panel-body">
                                <p>Feito a compra do produto e após a entrega o produto não for o mesmo encomendado, você terá até 7 dias para realizar a devolução do mesmo com direito de receber seu dinheiro de volta. </p>
                                <p>Preencha o ‘Formulário de Experiência de Compra’ para notificarmos o vendedor sobre o ocorrido.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="collapse-icon" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">
                                    11 - Selo de qualidade
                                </a>
                            </h4>
                        </div>
                        <div id="collapseEleven" class="panel-collapse
                            collapse">
                            <div class="panel-body">
                                <p>Nossos produtos passam por revisão e/ou manutenção assim que é direcionado ao interesse de compra. Garantia essa, graças aos nossos parceiros.</p>

                            </div>
                        </div>
                    </div>
                </form>
                <div class="row">

                    <div class="main-form">
                        <h3 class="contactus-title">Não encontrou sua dúvida? Nos escreva :</h3>

                        <form name="contactform" method="POST" action="contact-form-handler.php">
                            <div class="col-sm-6">
                                <input type="text" required name="name" placeholder="Nome">
                            </div>
                            <div class="col-sm-6">
                                <input type="email" required name="email" placeholder="Email">
                            </div>
                            <div class="col-xs-12">
                                <textarea required name="message" placeholder="Mensagem" rows="5" cols="60"></textarea>
                            </div>
                            <div class="col-xs-12 text-center">
                                <div class="commun-btn">
                                    <button type="submit" name="submit" class="btn" (click)="confirm()">Enviar</button>
                                </div>
                            </div>
                        </form>
                    </div>


                    <!-- <button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#demo">
            simple collapsible
            </button>
            <div id="demo" class="collapse in">
                <h1>Apenas teste</h1>
                <input type="text" name="txt_teste" id="txt_teste">
            </div>
            -->
                </div>
            </div>
        </div>