<div class="breadcrumb parallax-container">
    <div class="parallax"><img src="/assets/prlx.jpg" alt="#"></div>
    <h1>Login</h1>
    <ul>
      <li><a href="index.html">Home</a></li>
      <li><a href="#">Conta</a></li>
      <li><a href="login.html">Login</a></li>
    </ul>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-3 hidden-xs column-left" id="column-left">
        <div class="Categories left-sidebar-widget">
          <div class="columnblock-title">Conta</div>
          <div class="category_block">
            <ul class="box-category">
              <li><a href="login.html">Logar</a></li>
              <li><a href="register.html">Registrar</a></li>
              <li><a href="#">Esqueci minha senha</a></li>
              <li><a href="#">Minha conta</a></li>
              <li><a href="#">Lista de desejos</a></li>
              <li><a href="#">Mais...</a></li>
              <li><a [routerLink]="['/usuario-listar']">Listar usuarios...</a></li>
              
            
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-9" id="content">
        <div class="row">
          <div class="col-sm-6">
          <table>
            <tr>
                <td>Nome</td>
                <td><input type="text" [(ngModel)]="usuario.nome"></td>
            </tr>
            <tr>
                <td>Telefone</td>
                <td><input type="text" [(ngModel)]="usuario.telefone"></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><input type="text" [(ngModel)]="usuario.email"></td>
            </tr>
        </table>

        <button (click)="salvar()">Salvar</button>
        
                </div>
         
        </div>
      </div>
    </div>
  </div>




